.container {
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: auto;
  background-color: #f93333;
}

.backHome {
  margin-top: 5vw;
  background-color: white;
  border: solid 1px white;
  border-radius: 5px;
}

.glossary {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.heading {
  margin-bottom: 30px;
}

.filterAndSearch {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  justify-content: center;
  width: 180px;
}

.search {
  display: flex;
  justify-content: center;
  width: 50%;
}

.searchInput {
  width: 60%;
  height: 20px;
  font-size: 14px;
  outline: none;
  margin-left: 15px;
  border-radius: 5px;
}

.shortcut {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
